---
http_interactions:
- request:
    method: get
    uri: http://dev.movie-quotes.com:3000/v1/quotes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="esVsuo3NvpwBfKprvPtMJAtt"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31b03015e4835bf59b420b2c4946a697"
    body:
      encoding: UTF-8
      string: '[{"id":32,"content":"After all, tomorrow is another day!","year":1939,"categories":["Romance","Drama","War"],"movie":{"title":"Gone
        With The Wind","slug":"gone-with-the-wind"},"character":{"name":"Scarlett
        O''hara","slug":"scarlett-o-hara"},"actor":{"name":"Vivien Leigh","slug":"vivien-leigh"}},{"id":3,"content":"I''m
        gonna make him an offer he can''t refuse.","year":1972,"categories":["Crime","Drama"],"movie":{"title":"The
        Godfather","slug":"the-godfather"},"character":{"name":"Vito Corleone","slug":"vito-corleone"},"actor":{"name":"Marlon
        Brando","slug":"marlon-brando"}},{"id":5,"content":"Toto, I''ve got a feeling
        we''re not in Kansas anymore.","year":1939,"categories":["Fantasy","Drama","Adventure"],"mov[...]
